services:

  apigateway:
    image: ${DOCKER_REGISTRY-}apigateway
    build:
      context: .
      dockerfile: /APIGateway/Dockerfile
    ports:
      - "5500:5500"
    environment:
      - ASPNETCORE_URLS=http://+:5500
    networks:
      - proxybackend
      

  identity.api:
    image: ${DOCKER_REGISTRY-}identity.api
    build:
      context: .
      dockerfile: /Identity.API/Dockerfile
    ports:
      - "8080:8080"
      - "8081:8081"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__UserDb=Host=identity.database;Port=5432;Database=identity;Username=postgres;Password=postgres;Include Error Detail=true
    depends_on:
      - identity.database
    networks:
      - proxybackend
  
  identity.database:
    image: postgres:16
    container_name: identity.database
    environment:
      - POSTGRES_DB=identity
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - ./db:/var/lib/postgresql/data
    ports:
      - 5440:5432
    networks:
      - proxybackend
       
  workmanager-mq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    hostname: rabbitmq
    volumes:
      - ./.containers/rabbitmq/data:/var/lib/rabbitmq
      - ./.containers/rabbitmq/log:/var/log/rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    networks:
        - proxybackend
  
  cache:
    image: redis
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - proxybackend
      
  task.api:
    image: task.api
    build:
      context: .
      dockerfile: Task.API/Dockerfile    
    depends_on:
      - task.database
      
  task.database:
    image: mongo
    container_name: task.database
    ports:
      - "27017:27017"
    environment:
        MONGO_INITDB_ROOT_USERNAME: root
        MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongodb:/data/db
      - mongodbconfig:/data/configdb
    networks:
        - proxybackend
    
networks:
  proxybackend:
    driver: bridge
  
volumes:
  mongodb:
  mongodbconfig: